/*. { background: #00796B; }  DARK TEAL
{ background: #009688; }    TEAL
{ background: #B2DFDB; }		LIGHT TEAL
{ color: #FFFFFF; }			WHITE
{ background: #00BCD4; }		BLUE
{ color: #212121; }			BLACK
{ color: #757575; }			medium gray
{ border-color: #BDBDBD; }	light gray */

@import url('https://fonts.googleapis.com/css?family=Lato');
* {
/* With these codes padding and border does not increase it's width and gives intuitive style.*/

-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
	background-color: #B2DFDB;
}

div#form_container{
	width: 55%;
	margin: 10px 30% 10px 25%;
	padding:10px 0;
	border: 4px solid #00796B;
	border-radius:10px;
}

.single_blog_wrapper{
	background-color: white;
	width:70%;
	margin:4% 15%;
}

.all_blog_wrapper {
	background-color: white;
	width: 55%;
	margin: 10px 25% 10px 22%;
	padding:10px 0;
	border: 4px solid #00796B;
	border-radius:10px;
	/*make an inner border*/
	box-shadow: 0 0 0 5px #00BCD4 inset; 
}

.prev_posts {
	text-align: center;
}

form {
	width:70%;
	margin:4% 15%;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
/*	font-size: 2vw;*/
}

.title {
	text-align: center;
}


button {
	background-color: #009688;
	border-radius: 5px;
	cursor: pointer;
	width: 49%;
	padding: 5px 0px;
	margin-bottom: 4px;
	margin-top: 10px;
	border-radius:5px;
	border:4px solid #00796B;
	color: white;
	font-size:11px;
	box-shadow: 0 0 0 3px white inset;
}

.edit {
	margin-right: 2px;
}

/* Makes responsive fields. Sets size and field alignment.*/
input[type=text] {
	margin-bottom: 20px;
	margin-top: 10px;
	width:100%;
	padding: 15px;
	border-radius:5px;
	border:4px solid #00796B;
	box-shadow: 0 0 0 3px #00BCD4 inset;
}

button[type=submit] {
	margin-bottom: 20px;
	margin-left: 25%;
	width:50%;
	padding: 15px 0px;
	border-radius:5px;
	border:4px solid #00796B;
	background-color: #009688;
	color: white;
	font-size:11px;
	cursor:pointer;
	box-shadow: 0 0 0 3px white inset;
}

textarea {
	width:100%;
	padding: 15px;
	margin-top: 10px;
	border:4px solid #00796B;
	border-radius:5px;
	margin-bottom: 20px;
	resize:none;
	box-shadow: 0 0 0 3px #00BCD4 inset;
}

input[type=text]:focus,textarea:focus {
	border-color: #00796B;
	box-shadow: 0 0 0 3px #00BCD4 inset;
}




/*@media screen and (max-width: 320px)
{
  body {
  	background-color: orange;
  }
}
*/








